body {
  background-image: url("header-bg.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}

div.row {
  background-color: rgba(255, 255, 255, 1.0);
}


img.biopic {
  float: right;
  margin-left: 15px;
}

div.section::after {
  content: "";
  clear: both;
  display: table;
}

#group-members.section h3::before {
  clear: both;
}


#group-members.section img {
}

#publications ol {
  display: flex;
  flex-direction: column-reverse;
}

#publications li {
  padding: 5px 0 15px 10px;
  flex: 0 0 auto;
}

th, td {
  vertical-align: top;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
